<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
    p {
        padding: 5px 7px 5px 9px;
    }
   
</style>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/database/home">College Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item disabled">
                <a class="nav-link" href="#">Classes<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link" href="/loginmodule/login">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<body style="background-color: rgb(134, 163, 192);"></body>

<!--CARDS-->
<div class="row">
    {% for cl in classes%}
    <div class="col px-md-5">
        <p>
            <div class="card" style="width: 19rem;">
                <img class="card-img-top" src="https://i.pinimg.com/originals/dd/64/da/dd64da585bc57cb05e5fd4d8ce873f57.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{cl.name}}</h5>
                    <p class="card-text">{{cl.description}}</p>
                    <a href="/database/assignments/{{cl.name}}" class="btn btn-primary">Open</a>
                </div>

            </div>

        </p>
    </div>
    {%endfor%}
