<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<style>
    p {
        padding: 5px 7px 5px 9px;
    }
    body {
        padding-top: 60px;
    }
</style>]

<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light ">
    <a class="navbar-brand" href="/database/home">College Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ml-auto">
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" width="40" height="40" class="rounded-circle">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Edit Profile</a>
                  <a class="dropdown-item" href="#">Log Out</a>
                </div>
              </li>  
              <li>
                <a class="nav-link" href="/loginmodule/login">Logout</a>
              </li>
        </ul>
    </div>
</nav>

<body style="background-color:  rgb(134, 163, 192);"></body>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">UserID</th>
        <th scope="col">submittion</th>
        <th scope="col">date</th>
      </tr>
    </thead>
    <tbody>
      {% for sub in submitted %}
      <tr class="table-success">
        <th scope="row">1</th>
        <td>{{sub.student.user.username}}</td>
        <td><form action="{{sub.FILE.url}}">
          <button class="btn"><i class="fa fa-download"></i> Download</button></td>
        </form>
          
        <td>{{sub.date}}</td>
      </tr>
      {%endfor%}
      {% for nsub in not_submitted %}
      <tr class="table-success">
        <th scope="row">1</th>
        <td>{{nsub.user.username}}</td>
        <td></td>
        </form> 
        <td></td>
      </tr>
      {%endfor%} 
    </tbody>
  </table>
